.mapimage{
 display: flex;
 justify-content: center;
 height: 570px;
}

.subdivision{
  margin: 0 10px;
  display: flex;
  justify-content: center;
}

.subdivision img{
  width: 70px;
  height: 70px;
  padding: 20px;
  transition: transform .2s; 
}

.subdivision img:hover {
  transform: scale(1.9);
 
}

.note{
  text-align: center;
  padding-bottom: 40px;
}

.drag-wrapper {
  cursor: move;
  width: 70px;
  height: 70px;  
}